@import "tailwindcss";

@theme {
  /* Aapke Custom Responsive Breakpoints */
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 834px;
  --breakpoint-laptop: 1440px;
  --font-sans: 'Inter', ui-sans-serif, system-ui;

  /* Aapka Custom Background Color */
  --color-brand-bg: #0F0F0F;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-brand-bg);
  font-family: var(--font-sans);
  color: white;
  /* overflow: hidden; */
   overflow-x: hidden; /* PPT style ke liye main body scroll band */
}

/* Snap Scroll Logic */
.snap-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}